body {
  background: url(../images/bg.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: top center;              /* optional, center the image */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  body {
    background: url('../images/bg@2x.png') no-repeat cover;
    background-position: top center;
  }
}


.body-wrap {
    width: 100%;
}

.inner {
    margin: 2em auto;
    width: 50%;
    text-align: center;
}

.btn {
  display: inline-block;
  width: 150px;
  height: auto;
}

iframe {
    margin: 0 5%;
    display: block;
    border: 3px solid black;
    position: absolute;
    width: 90%;
    height: 80%;
    top: 15%;
}

a {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0,255,255,0.61);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0,255,255,0.61);
  box-shadow: 0px 0px 5px 4px rgba(0,255,255,0.61);
  margin: 0 10px;
}

a:hover {
  -webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,0.81);
  -moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,0.81);
  box-shadow: 0px 0px 5px 4px rgba(255,255,255,0.81);
}



.b1 {
}

.b2 {
}

.b3 {
}

.b4 {
}

