{% extends "pages/base.html" %}
{% load staticfiles %}
{#{% load static i18n %}#}
{% block title  %} Home {% endblock title %}

{% block content %}

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action">
                <div class="row">
                  <div class="col-sm-8">
                    <h3 class="mt-10 text-muted">Geek Beacon Is <span class="text-rotator" data-rotator-animation-effect="fadeIn">Creativity!, A Community!, All Over The World!, Your Guiding Light To All Things Geek!</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 push-lg-6">
              <div class="overlay-container overlay-visible ">
                <img src="{% static 'images/GeeksAbroad-banner.png' %}" alt="Geeks Abroad" height="570">
                <a href="/tag/geeksabroad" class="overlay-link"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom hidden-sm-down">
                  <div class="text">
                    Not All Who Wander are Lost
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pull-lg-6">
              <h3 class="title mt-4">Geeks Abroad</h3>
              <p>Passion is the only true thing that unites us as a human race. We're making a show that captures this geeky passion all over the world.
                Welcome to Geeks Abroad the geeky travel show that will transcend language barriers, cultural differences and political climates all over the world.
                Firstly, Your project leaders are Marcello (Llamapliot256) and Joshua (Llamaposh) and were excited to announce that we need you!</p>

                <p>Geeks Abroad is about passion and we’re looking for some passionate individuals that will be able to be Geeky Tour Guides.
                  Please if you haven’t already fill out our <a href="https://goo.gl/t8Xhb5">Google Form!</a> Also do you know any places that you’d like us to visit? Please feel free to let us know!</p>
              <a href="/tag/geeksabroad" class="btn radius-50 btn-default btn-hvr hvr-shutter-out-horizontal"><i class="icon-users-1 pr-10"></i>More</a>
            </div>
          </div>
        </div>
        <br>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="dark-translucent-bg pv-30" style="background-image:url({% static 'images/gaming_banner.png' %});">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h2 class="text-center mt-4">Geek <strong>BEACON</strong> Gaming</h2>
              <div class="separator"></div>
              <p class="large text-center">We never thought of a good tagline</p>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon" style="background:none;"><img src="{% static 'images/youtube_cube.png' %}"/></span>
                <h3>Youtube</h3>
                <div class="separator clearfix"></div>
                <p>Subscribe to us on Youtube! Blah Blah Blah put some more text here so it looks neat.</p>
                <a class="btn btn-gray-transparent radius-50 btn-animated" href="https://www.youtube.com/channel/UC8OOBdn0YNSUszZV98a3CLA">Watch <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon" style="background:none;"><img src="{% static 'images/gaming_cube.png' %}"/></span>
                <h3>Twitch</h3>
                <div class="separator clearfix"></div>
                <p>Follow us on Twitch! Blah Blah Blah put some more text here so it looks neat.</p>
                <a class="btn btn-gray-transparent radius-50 btn-animated" href="https://www.twitch.tv/communities/geekbeacon">Live <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon" style="background:none;"><img src="{% static 'images/discord_cube.png' %}"/></span>
                <h3>Discord</h3>
                <div class="separator clearfix"></div>
                <p>Join the fragfest on Discord! Blah Blah Blah put some more text here so it looks neat.</p>
                <a class="btn btn-gray-transparent radius-50 btn-animated" href="https://discord.gg/geekbeacon">Join <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section pv-40 light-gray-bg border-clear">
        <div class="clearfix">
          <img class="pull-right object-non-visible" data-animation-effect="slideInLeft" data-effect-delay="100" src="{% static 'images/OS_ALT.png' %}" alt="">
        </div>
        <div class="full-text-container light-gray-bg border-clear">
          <h2 class="mt-4">OS.<strong>Alt</strong></h2>
          <p>Your source for open source!</p>
          <br class="hidden-md-down">
          <div class="feature-box-2 margin-clear">
            <span class="icon without-bg"><i class="text-default icon-snow"></i></span>
            <div class="body">
              <h4 class="mt-3">Our Goal</h4>
              <p>Our intent is to provide and build a community for people of similar minds and interests to collaborate on tools and project that they're passionate about.</p>
              <div class="separator-2 visible-lg"></div>
            </div>
          </div>
          <div class="feature-box-2 margin-clear">
            <span class="icon without-bg"><i class="text-default icon-tools"></i></span>
            <div class="body">
              <h4 class="mt-3">github</h4>
              <p>Check out the latest projects from the community at our github site.</p>
              <div class="separator-2 visible-lg"></div>
            </div>
          </div>
          <div class="feature-box-2 margin-clear">
            <span class="icon without-bg"><i class="text-default icon-star-empty"></i></span>
            <div class="body">
              <h4 class="mt-3">Discord</h4>
              <p>If you have a project in mind that you're excited about and are looking for people to work with don't be shy to reach out and join our <a href="https://discord.gg/geekbeacon">Discord</a> to find like minded peers to work on selected projects. </p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="dark-translucent-bg pv-40" style="background-image:url({% static 'images/squirrel_army.png' %});">
        <div class="container">
          <h2 class="title text-center">Squirrel <strong>Army</strong></h2>
          <div class="separator"></div>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="fa fa-support"></i></span>
                <div class="body">
                  <h4 class="title">Who you callin’ a Squirrel?</h4>
                  <p>The Atypical unique learners, with lots of heart.</p>
                  <div class="separator-3"></div>
                  <ul class="list-icons">
                    <li>Extremly Simple to Use <i class="icon-check-1"></i></li>
                    <li>Customize it in no time <i class="icon-check-1"></i></li>
                    <li>Unlimited options and variations <i class="icon-check-1"></i></li>
                    <li>We are here to support you <i class="icon-check-1"></i></li>
                  </ul>
                  <div class="separator-2"></div>
                </div>
              </div>
              <br>

            </div>
            <div class="col-lg-6">
              <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                <div class="body">
                  <h4 class="title">What’s the issue?</h4>
                  <p>We have energetic ground squirrels that have fallen out of the tree and are wandering around lost,
                    and some scared about their brains -- so it would be great to build a treehouse so they can feel safe and protected,
                    and learn lots about the environment around them - including how to cope and what projects they can work effectively on.</p>
                  <div class="separator-2"></div>

                  <div class="separator-3"></div>
                </div>
              </div>
              <br>


              <br>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->



      <!-- footer top start -->
      <!-- ================ -->
      <div class="dark-bg footer-top animated-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
{#                <div class="row">#}
{#                  <div class="col-md-8">#}
{#                    <h2 class="mt-4">Mouse over this area for an important message</h2>#}
{#                    <h2 class="mt-4">Butts... lol</h2>#}
{#                  </div>#}
{#                  <div class="col-md-4">#}
{#                    <p class="mt-3"><a href="javascript:AlertIt()" id="notouch" class="btn btn-animated radius-50 btn-lg btn-gray-transparent">DO NOT TOUCH<i class="fa fa-exclamation-triangle pl-20"></i></a></p>#}
{#                  </div>#}
{#                  <script type="text/javascript">#}
{#                  function AlertIt() {#}
{#                  alert("Don't go jump off a cliff")#}
{#                  }#}
{#                  </script>#}
{##}
{#                </div>#}
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}
