{% load static custom_tags %}
<footer id="footer" class="clearfix dark">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-content">
                            {% category_footer 'geeks-abroad' %}
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-content">
                            {% category_footer 'gaming' %}
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-content">
                            {% category_footer 'osalt' %}
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-content">
                            {% category_footer 'squirrel-army' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Geek Beacon </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>
<!-- footer end -->
